{% extends 'bp_admin.base.html' %}


{% block head %}
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Eletiva Web 2019 - Charts</title>

  <!-- Custom fonts for this template-->
  <link href="{{ url_for('bp_admin.static', filename='vendor/fontawesome-free/css/all.min.css') }}" rel="stylesheet" type="text/css">

  <!-- Page level plugin CSS-->
  <link href="{{ url_for('bp_admin.static', filename='vendor/datatables/dataTables.bootstrap4.css') }}" rel="stylesheet">

  <!-- Custom styles for this template-->
  <link href="{{ url_for('bp_admin.static', filename='css/sb-admin.css') }}" rel="stylesheet">
{% endblock %}


{% block content %}        
  <!-- Breadcrumbs-->
  <ol class="breadcrumb">
    <li class="breadcrumb-item">
      <a href="#">Dashboard</a>
    </li>
    <li class="breadcrumb-item active">Charts</li>
  </ol>

  <!-- Area Chart Example-->
  <div class="card mb-3">
    <div class="card-header">
      <i class="fas fa-chart-area"></i>
      Area Chart Example</div>
    <div class="card-body">
      <canvas id="myAreaChart" width="100%" height="30"></canvas>
    </div>
    <div class="card-footer small text-muted">Updated yesterday at 11:59 PM</div>
  </div>

  <div class="row">
    <div class="col-lg-8">
      <div class="card mb-3">
        <div class="card-header">
          <i class="fas fa-chart-bar"></i>
          Bar Chart Example</div>
        <div class="card-body">
          <canvas id="myBarChart" width="100%" height="50"></canvas>
        </div>
        <div class="card-footer small text-muted">Updated yesterday at 11:59 PM</div>
      </div>
    </div>
    <div class="col-lg-4">
      <div class="card mb-3">
        <div class="card-header">
          <i class="fas fa-chart-pie"></i>
          Pie Chart Example</div>
        <div class="card-body">
          <canvas id="myPieChart" width="100%" height="100"></canvas>
        </div>
        <div class="card-footer small text-muted">Updated yesterday at 11:59 PM</div>
      </div>
    </div>
  </div>

  <p class="small text-center text-muted my-5">
    <em>More chart examples coming soon...</em>
  </p>
{% endblock %}


  <!-- Logout Modal-->


  <!-- Bootstrap core JavaScript-->
{% block bootstrap_core_javascript %}
  <script src="{{ url_for('bp_admin.static', filename='vendor/jquery/jquery.min.js') }}"></script>
  <script src="{{ url_for('bp_admin.static', filename='vendor/bootstrap/js/bootstrap.bundle.min.js') }}"></script>

  <!-- Core plugin JavaScript-->
  <script src="{{ url_for('bp_admin.static', filename='vendor/jquery-easing/jquery.easing.min.js') }}"></script>

  <!-- Page level plugin JavaScript-->
  <script src="{{ url_for('bp_admin.static', filename='vendor/chart.js/Chart.min.js') }}"></script>

  <!-- Custom scripts for all pages-->
  <script src="{{ url_for('bp_admin.static', filename='js/sb-admin.min.js') }}"></script>

  <!-- Demo scripts for this page-->
  <script src="{{ url_for('bp_admin.static', filename='js/demo/chart-area-demo.js') }}"></script>
  <script src="{{ url_for('bp_admin.static', filename='js/demo/chart-bar-demo.js') }}"></script>
  <script src="{{ url_for('bp_admin.static', filename='js/demo/chart-pie-demo.js') }}"></script>
{% endblock %}
