<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Eletiva Web 2019 - Forgot Password</title>

  <!-- Custom fonts for this template-->
  <link href="{{ url_for('bp_admin.static', filename='vendor/fontawesome-free/css/all.min.css') }}" rel="stylesheet" type="text/css">

  <!-- Custom styles for this template-->
  <link href="{{ url_for('bp_admin.static', filename='css/sb-admin.css') }}" rel="stylesheet">

</head>

<body class="bg-dark">

  <div class="container">
    <div class="card card-login mx-auto mt-5">
      <div class="card-header">Reset Password</div>
      <div class="card-body">
        <div class="text-center mb-4">
          <h4>Forgot your password?</h4>
          <p>Enter your email address and we will send you instructions on how to reset your password.</p>
        </div>
        <form>
          <div class="form-group">
            <div class="form-label-group">
              <input type="email" id="inputEmail" class="form-control" placeholder="Enter email address" required="required" autofocus="autofocus">
              <label for="inputEmail">Enter email address</label>
            </div>
          </div>
          <a class="btn btn-primary btn-block" href="{{ url_for('bp_admin.login') }}">Reset Password</a>
        </form>
        <div class="text-center">
          <a class="d-block small mt-3" href="{{ url_for('bp_admin.register') }}">Register an Account</a>
          <a class="d-block small" href="{{ url_for('bp_admin.login') }}">Login Page</a>
        </div>
      </div>
    </div>
  </div>

  <!-- Bootstrap core JavaScript-->
  <script src="{{ url_for('bp_admin.static', filename='vendor/jquery/jquery.min.js') }}"></script>
  <script src="{{ url_for('bp_admin.static', filename='vendor/bootstrap/js/bootstrap.bundle.min.js') }}"></script>

  <!-- Core plugin JavaScript-->
  <script src="{{ url_for('bp_admin.static', filename='vendor/jquery-easing/jquery.easing.min.js') }}"></script>

</body>

</html>
