<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Eletiva Web 2019 - Login</title>

  <!-- Custom fonts for this template-->
  <link href="{{ url_for('bp_admin.static', filename='vendor/fontawesome-free/css/all.min.css') }}" rel="stylesheet" type="text/css">

  <!-- Custom styles for this template-->
  <link href="{{ url_for('bp_admin.static', filename='css/sb-admin.css') }}" rel="stylesheet">

</head>

<body class="bg-dark">

  <div class="container">
    <div class="card card-login mx-auto mt-5">
      <div class="card-header">Login</div>
      <div class="card-body">
        <form method="post" action="{{ url_for('bp_admin.login') }}">
          
            {% block alerta %}
              {% with messages = get_flashed_messages() %}
                {% for message in messages %}
                  <div class="mb-2">
                    {% if 'vindo' in message or 'sucesso' in message %}
                      {% include "_alerta_success.html" %}
                      {% block voltar %}{% endblock %}
                    {% else %}
                      {% include "_alerta_danger.html" %}            
                    {% endif %}
                  </div>
                {% endfor %}      
              {% endwith %}
            {% endblock %}  
          
          <div class="form-group">
            <div class="form-label-group">
              <input type="email" id="inputEmail" class="form-control" placeholder="Email address" required="required" autofocus="autofocus" 
                value="{{ resultado.form.get('email', '') }}" name="email">
              <label for="inputEmail">Email address</label>
            </div>
          </div>
          <div class="form-group">
            <div class="form-label-group">
              <input type="password" id="inputPassword" class="form-control" placeholder="Password" required="required"
                name="password">
              <label for="inputPassword">Password</label>
            </div>
          </div>
          <div class="form-group">
            <div class="checkbox">
              <label>
                <input type="checkbox" value="remember-me" name="remember_me" 
                {% if resultado.form.get('remember_me', '') %} checked {% endif %}>
                Remember Password
              </label>
            </div>
          </div>
          <input type="hidden" name="next" value="{{ resultado.args.get('next', '') }}">
          <button type="submit" class="btn btn-primary btn-block" name="LOGIN">Login</button>
          
        </form>
        <div class="text-center">
          <a class="d-block small mt-3" href="{{ url_for('bp_admin.register') }}">Register an Account</a>
          <a class="d-block small" href="{{ url_for('bp_admin.forgot_password') }}">Forgot Password?</a>
        </div>
      </div>
    </div>
  </div>

  <!-- Bootstrap core JavaScript-->
  <script src="{{ url_for('bp_admin.static', filename='vendor/jquery/jquery.min.js') }}"></script>
  <script src="{{ url_for('bp_admin.static', filename='vendor/bootstrap/js/bootstrap.bundle.min.js') }}"></script>

  <!-- Core plugin JavaScript-->
  <script src="{{ url_for('bp_admin.static', filename='vendor/jquery-easing/jquery.easing.min.js') }}"></script>

</body>

</html>
