{% extends 'bp_admin.base.html' %}



{% block head %}
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Eletiva Web 2019 - 404 Error</title>

  <!-- Custom fonts for this template-->
  <link href="{{ url_for('bp_admin.static', filename='vendor/fontawesome-free/css/all.min.css') }}" rel="stylesheet" type="text/css">

  <!-- Page level plugin CSS-->
  <link href="{{ url_for('bp_admin.static', filename='vendor/datatables/dataTables.bootstrap4.css') }}" rel="stylesheet">

  <!-- Custom styles for this template-->
  <link href="{{ url_for('bp_admin.static', filename='css/sb-admin.css') }}" rel="stylesheet">
{% endblock %}


{% block content %}        
  <!-- Breadcrumbs-->
  <ol class="breadcrumb">
    <li class="breadcrumb-item">
      <a href="{{ url_for('bp_admin.index') }}">Dashboard</a>
    </li>
    <li class="breadcrumb-item active">404 Error</li>
  </ol>

  <!-- Page Content -->
  <h1 class="display-1">404</h1>
  <p class="lead">Page not found. You can
    <a href="javascript:history.back()">go back</a>
    to the previous page, or
    <a href="{{ url_for('bp_admin.index') }}">return home</a>.</p>
{% endblock %}


<!-- Logout Modal-->


{% block bootstrap_core_javascript %}
  <!-- Bootstrap core JavaScript-->
  <script src="{{ url_for('bp_admin.static', filename='vendor/jquery/jquery.min.js') }}"></script>
  <script src="{{ url_for('bp_admin.static', filename='vendor/bootstrap/js/bootstrap.bundle.min.js') }}"></script>

  <!-- Core plugin JavaScript-->
  <script src="{{ url_for('bp_admin.static', filename='vendor/jquery-easing/jquery.easing.min.js') }}"></script>

  <!-- Custom scripts for all pages-->
<script src="{{ url_for('bp_admin.static', filename='js/sb-admin.min.js') }}"></script>
{% endblock %}